/* Generic CSS */
a {
	color: #797979; 
	font-weight: 400;
}

a:hover {
	color: #467396; 
    text-decoration: underline;
}

hr {
    border-top-color: #d8d8d8;
}

body {
    background-image: url("../images/bg_grey.png");
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    color: #666;
}

.section {
    border: 1px solid #a3a3a3;
    padding: 0px;
    margin-bottom: 20px;
}

.section-header {
    background-color: #d8d8d8;
    border-bottom: 1px solid #a3a3a3;
    padding: 5px;
    margin-bottom: 10px;
}
