{% extends "layout.html" %}
{% import "helpers/format.html" as format %}

{% block title %}PMI - Engagements{% endblock %}

{% block content %}

<div class="col-sm-12">
    <h3>Engagement</h3>
    <form href="{{ url_for('.create_engagement') }}" method="POST">
    <div class="col-sm-12 section">
        <span class="col-sm-12 section-header">
            Product Detail 
        </span>

        {{ format.stand_alone([form.type]) }}
        {{ format.dependant(form.intent, [form.audit_association, form.which_company]) }}
        {{ format.dependant(form.security_appliances, [form.permit_whitelisting]) }}
    </form>

</div>

<!--
<form action="{url_for('.create_engagement')}" method="POST">
    <fieldset>
        <legend>New Sample</legend>
        { forms.render(form) }
        <p><input type="Submit" value="Save New Name"></p>
    </fieldset>
</form>
-->

<hr />

{% endblock content %}
