{% extends "layout.html" %}
{% import "helpers/forms.html" as forms %}

{% block title %}PMI - Quote Calculator{% endblock %}

{% block content %}

<div class="col-sm-6">
    <h3>New Quote</h3>
</div>

<div class="col-sm-6">
    <h3>Resume Quote</h3>
</div>

<!--
<form action="{{url_for('.create_engagement')}}" method="POST">
    <fieldset>
        <legend>New Sample</legend>
        {{ forms.render(form) }}
        <p><input type="Submit" value="Save New Name"></p>
    </fieldset>
</form>
-->

<hr />

{% endblock content %}
