{% extends "layout.html" %}
{% import "helpers/forms.html" as forms %}

{% block title %}Welcome to Sample App!{% endblock %}

{% block content %}
<form action="{{url_for('.add_engagement')}}" method="POST">
    <fieldset>
        <legend>New Sample</legend>
        {{ forms.render(form) }}
        <p><input type="Submit" value="Save New Name"></p>
    </fieldset>
</form>

<hr />

<ul>
    {% for engagement in engagements: %}
    <li>{{ enagement }}</li>
    {% endfor %}
</ul>
{% endblock content %}
